<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.raywenderlich.devhubservice">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="android.devhubservice.application.DevHubServiceApplication"
        android:allowBackup="true"
        android:icon="@drawable/git_hub_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/git_hub_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.DevHubService">
        <activity
            android:name="android.devhubservice.ui.activity.HomeActivity"
            android:exported="false" />
        <activity
            android:name="android.devhubservice.ui.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>